*{
    margin: 0;
    padding:0;
    font-family:sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(./MainMenu/MazeCastle.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}  
.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(61, 133, 47);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: aliceblue;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(61, 133, 47);
    background: transparent;
    color: aliceblue;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: rgb(61, 133, 47);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position:absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.3s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}

.Pause {
    color: white; font-size: 50px;
    position: absolute; top: 5%; left: 42%;
}

.Pause1 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Pause-content1{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Pause-content1 h2{
    font-size: 40px;
    margin-top: 0px;
    color: aliceblue;
}

.Pause12 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Pause-content12{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Pause-content12 h2{
    font-size: 40px;
    margin-top: 0px;
    color: aliceblue;
}


.Pause13 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Pause-content13{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Pause-content13 h2{
    font-size: 40px;
    margin-top: 0px;
    color: aliceblue;
}

.Pause14 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Pause-content14{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Pause-content14 h2{
    font-size: 40px;
    margin-top: 0px;
    color: aliceblue;
}

.Win1 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Win-content1{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Win-content1 h2{
    font-size: 60px;
    margin-top: 40px;
    color: aliceblue;
}

.Win-content1 h3{
    font-size: 30px;
    margin-top: 10px;
    color: aliceblue;
}

.Lose1 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Lose-content1{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Lose-content1 h2{
    font-size: 70px;
    margin-top: 10px;
    color: aliceblue;
}

.LevelTimer {
    color: orange; font-size: 50px;
    position: absolute; top: 5%; left: 85%;
}

.Win {
    color: white; font-size: 50px;
    position: absolute; top: 46%; left: 42%;
}

.Lose {
    color: red; font-size: 50px;
    position: absolute; top: 46%; left: 42%;
} 

body {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  
.popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }
  
  .popup .heading{
    margin-top: 45px;
    color: darkgoldenrod;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
  }
  
  .popup .paragraph{
    color: darkgoldenrod;
    text-align: center;
    font-size: 25px;
    font-family: fantasy;
  
  }
  
  .popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    background: rgb(46, 77, 54);
    width: 600px;
    height: 500px;
    z-index: 1;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  .popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    background: rgb(46, 77, 54);
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
  }
  
  .popup.active .overlay{
    display: block;
  }
  
  .popup.active .content{
    transition: all 300ms ease-in-out;
    transform: translate(-50%,-50%) scale(1);
  }
  .LevelTimer {
    color: orange; font-size: 50px;
    position: absolute; top: 5%; left: 58%;
  }

.Win2 {
    width: 100%;
    height: 100%;
    color: aliceblue;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.Win2-content2{
    width: 500px;
    height: 300px;
    background-color: rgb(77, 199, 24);
    border-radius: 4px;
    text-align: center;
    padding: 20px;
}

.Win2-content2 h2{
    font-size: 60px;
    margin-top: 40px;
    color: aliceblue;
}

.Win2-content2 h3{
    font-size: 40px;
    margin-top: 10px;
    color: aliceblue;
}


